<h3>PR Activity Breakdown</h3>
<div id="chart"></div>
<%= render_chart(user_activity.chart, 'chart') %>

<h3>Commit Activity Breakdown</h3>
<div id="commit_chart"></div>
<%= render_chart(user_commit_activity.chart, 'commit_chart') %>
