<ul>
  <% languages = languages_for(login) %>
  <% limit ? languages = languages.first(limit) : nil %>
  <% languages.each do |repo| %>
    <li><%= repo.fetch("language").name %>: <%= repo.fetch("prs") %> </li>
  <% end %>
</ul>
