<ul>
  <% languages = ArchiveExtensions::Languages.for(login) %>
  <% limit ? languages = languages.first(limit) : nil %>
  <% languages.each do |repo| %>
    <li><%= repo.fetch("name") %> - PR count: <%= repo.fetch("prs") %> </li>
  <% end %>
</ul>
