<h3>Languages</h3>
<span class="help">Next to each language is the total number of PRs to repo with tha language</span>
<ul>
  <% languages = languages_for(login) %>
  <% limit ? languages = languages.first(limit) : nil %>
  <% languages.each do |repo| %>
    <li><%= repo.fetch("language").name %>: <%= repo.fetch("prs") %> </li>
  <% end %>
</ul>
