<p class="lead text-justify">
  This is Archive Observer, a weekend project that started to do some research on
  <a href="https://www.githubarchive.org/">Github Archive</a> data and how we can
  use it to build insight on development in general.<br><br>
  Each hour we parse the latest Github Archive and refresh our database. So you should
  expect new data every hour!<br><br>

  <strong>Note:</strong> contributions are calculated by identifying PRs being opened by users, and languages
  are identified by using the language determined as the main one for each repository.
</p>

<p class="text-center">
  <mark>I've started work on October 2015, so please bear with me until I can catchup with data</mark>
</p>
<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= number_with_delimiter(GithubPullRequest.count) %></span>
    Pull Requests
  </li>

  <li class="list-group-item">
    <span class="badge"><%= number_with_delimiter(GithubUser.count) %></span>
    Users
  </li>

  <li class="list-group-item">
    <span class="badge"><%= number_with_delimiter(GithubRepository.count) %></span>
    Repository
  </li>

  <li class="list-group-item">
    <span class="badge"><%= number_with_delimiter(GithubPush.count) %></span>
    Push data
  </li>
</ul>
