<h1> Monthly Selection </h1>
<p> Criteria: JavaScript, Ruby or CSS between 1 - 15 PRs, somewhere in <%= @alternative_location %></p>
<% @users.each do |user| %>
  <ul>
    <li>Name: <%= link_to user.login, github_user_profile_path(user.login) %></li>
    <li>Location: <%= user.location %></li>
    <% @linkedin_profile = LinkedinProfile.new(user.login) %>
    <% if @linkedin_profile.verify_link %>
      <li>Linkedin page: <%= link_to @linkedin_profile.link, @linkedin_profile.link %></li>
    <% end %>
  </ul>
  <hr>
<% end %>
