<h1> Monthly Selection </h1>
<p> Criteria: JavaScript, Ruby or CSS between 1 - 10 PRs </p>
<% @users.each do |user| %>
  <ul>
    <li>Name: <%= link_to user.login, github_user_profile_path(user.login) %></li>
    <li>Location: <%= user.location %></li>
  </ul>
  <hr>
<% end %>
